.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;

  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.mainButton {
   width: 150px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButton button {
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #66a6ff, #89f7fe);
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}